{% extends 'sistema/esqueleto_html.twig' %}
{% block head %}
	<link rel="stylesheet" href="{{ base_url('assets/font/sofiapro_light/stylesheet.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/css/sistema2.css') }}" type="text/css" charset="utf-8" />
    {% block styles %}{% endblock %}
{% endblock %}
{% block titulo_pagina %}
    D'Moura | {{ titulo }}
{% endblock %}
{% block body %}
    <div class="layout-pagina altura-maxima">
        <div class="off-canvas-wrapper altura-maxima">
            <div class="off-canvas-wrapper-inner altura-maxima" data-off-canvas-wrapper>
                <div class="off-canvas position-left reveal-for-large altura-maxima" id="offCanvasLeft" data-off-canvas>
                    <button class="close-button" aria-label="Close menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
					<div class="canvas-logo">
						<h4>D'MOURA</h4>
						{#<img src="{{ base_url('assets/imagens/DMOURA.png') }}">#}
					</div>
					<div class="canvas-user" data-toggle="dm-usuario-menu">
                        <div class="canvas-user-foto">
                            <img src="{{ base_url('assets/imagens/user.png') }}">
                        </div>
                        <div class="canvas-user-dados">
                            <div class="canvas-user-title">
                                {{ app.session.nome }}
                            </div>
                            <div class="canvas-user-subtitle fonte-cinza-claro">
                                Cargo {{ app.session.cargo }}
                            </div>
                        </div>
						<div class="canvas-user-menu menu-centered">
							<ul class="menu">
								<li><a href="{{ base_url(_pai ~ '/autenticacao/sair') }}"><i class="fi-eject"></i><span>Sair</span></a></li>
							</ul>
						</div>
                    </div>
					<hr />
                    <div class="off-canvas-menu">
                        {% include 'sistema/menu_canvas_esquerdo.twig' with {'type':'accordion'} %}
                    </div>
                </div>
            
                <div class="off-canvas-content bloco-conteudo" data-off-canvas-content>
                    <div class="top-bar">
                        <div class="top-bar-title hide-for-large">
                            <button type="button" class="menu-icon" data-toggle="offCanvasLeft"></button>
                            <strong>{{ titulo }}</strong>
                        </div>
                        <div>
                            <div class="top-bar-left"></div>
                            <div class="top-bar-right">
								<ul class="menu">
									<li><a href="#"><i class="fi-search"></i></a></li>
								</ul>
							</div>
                        </div>
                    </div>
					<h3 class="title-page show-for-large">{{ titulo }}</h3>
                    {% block conteudo %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {#<div class="top-bar-wrapper hide">
    <div class="top-bar-wrapper-inner is-open-top">
        <div id="barra-dmoura" class="dm-top-bar position-top">
            <div class="barra-principal fonte-branco">
                <div class="small-7 medium-4 column">
                    <div class="dm-logotipo">
                        <img src="{{ base_url('assets/imagens/DMOURA.png') }}">
                    </div>
                </div>
                {% if app.session is defined %}
                <div class="small-5 medium-8 column">
                    <div class="dm-usuario float-right" data-toggle="dm-usuario-menu">
                        <div class="dm-usuario-foto">
                            <img src="{{ base_url('assets/imagens/user.png') }}">
                        </div>
                        <div class="dm-usuario-descricao hide-for-small-only">
                            <div class="dm-usuario-nome">
                                {{ app.session.nome }}
                            </div>
                            <div class="dm-usuario-cargo fonte-cinza-claro">
                                <small>{{ app.session.cargo }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-pane bottom" id="dm-usuario-menu" data-dropdown data-auto-focus="true" data-close-on-click="true">
                        <ul class="menu">
                            <li><a href="{{ base_url(_pai ~ '/autenticacao/sair') }}">Sair</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="barra-ferramentas">
                <div class="busca-menu">
                    <button type="button" class="button hide-for-large" data-toggle="offCanvas"><i class="fi-list"></i></button>
                    <input type="search" class="show-for-large" name="bf-busca-menu" placeholder="Pesquisar Menu">
                    <div class="icone-input"><i class="fi-magnifying-glass show-for-large"></i></div>
                </div>
                <div class="barra-ferramentas-interna">
                    <div class="barra-ferramentas-interna-conteudo">
                        <div class="barra-ferramentas-esquerda">
                            <ul class="menu ">
                                <li class="menu-text">{{ titulo }}</li>
                            </ul>
                        </div>
                        <div class="barra-ferramentas-fixa">
                            <ul class="menu ">
                                <!--li><label id="lb-bar-limpar" for="limpar"><i class="fi-page-delete"></i><span>Limpar</span></label></li>
                                <li><label id="lb-bar-excluir" for="excluir"><i class="fi-trash"></i><span>Excluir</span></label></li>
                                <li><label id="lb-bar-salvar" for="salvar"><i class="fi-save"></i><span>Salvar</span></label></li-->
                                <li>
                                    <button type="button" class="button hide-for-large"><i class="fi-list"></i></button>
                                </li>
                            </ul>
                        </div>
                        <div class="barra-ferramentas-direita show-for-large">
                            <ul class="menu hide">
                                <li><a href="#">Show</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-bar-content">
            <div class="off-canvas-wrapper altura-maxima">
                <div class="off-canvas-wrapper-inner altura-maxima" data-off-canvas-wrapper>
                    <div class="off-canvas position-left" data-reveal-class="reveal-for-large" data-close-on-click="false" id="offCanvas" data-off-canvas>
                        <!-- Busca -->
                        <div class="off-canvas-busca hide-for-large">
                            <input type="search" name="of-busca-menu" placeholder="Pesquisar Menu">
                            <div class="icone-input"><i class="fi-magnifying-glass"></i></div>
                        </div>
                        <!-- Menu -->
                        <div class="off-canvas-menu">
                            {% include 'sistema/menu_canvas_esquerdo.twig' %}
                        </div>
                    </div>

                    <div id="dmoura-conteudo" class="off-canvas-content" data-off-canvas-content>
                        <div  class="row expanded">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>#}
{% endblock %}
{% block scripts_base %}
    {#<script type="text/javascript">
        $(document).ready(function(){
            if(Foundation.MediaQuery.atLeast('large')){
                $('#offCanvas').foundation('open');
            }else{
                $('#offCanvas').foundation('close');
            }
            var h = $(window).height();
            var b = $('#barra-dmoura').height();
            $('#dmoura-conteudo').css('max-height',h-b).css('height',h-b);

            $('.is-button-bar-menu').each(function(){
                criar_bar_menu($(this));
            });
        });
        $(window).on('resize',function(event){
            if(Foundation.MediaQuery.atLeast('large')){
                $('#offCanvas').foundation('open');
            }else{
                $('#offCanvas').foundation('close');
            }
            var h = $(window).height();
            var b = $('#barra-dmoura').height();
            $('#dmoura-conteudo').css('max-height',h-b).css('height',h-b);
        });
        function criar_bar_menu(botao){
            if($(botao).is('input')){
                var icone = '';
                if($(botao).attr('data-icone') !== undefined){
                    icone = '<i class="' + $(botao).attr('data-icone') + '"></i>';
                }
                var menu = '<label for="' + $(botao).attr('id') + '">' + icone + '<span>' + $(botao).attr('value') + '</span></label>';
                $('.barra-ferramentas .barra-ferramentas-fixa ul').prepend('<li>' + menu + '</li>');
                if($(botao).attr('data-bar-menu-hide')!=='false'){
                    $(botao).hide();
                }
            }
        }
    </script>#}
    {% block scripts %}{% endblock %}
{% endblock %}