{% set _tipo = 'drilldown' %}
{% if type is defined %}
	{% set _tipo = type %}
{% endif %}
{% if submenu is defined %}
    {% set menu = submenu %}
    <ul class="vertical menu{{ _tipo == 'accordion'?' nested':'' }}">
{% else %}
    {% set menu = app.config.item('menu-principal') %}
	{% if _tipo == 'accordion' %}
		<ul class="vertical menu" data-accordion-menu>
	{% elseif _tipo == 'drilldown' %}
		<ul class="vertical menu" data-back-button="<li class='js-drilldown-back'><a>Voltar</a></li>" data-drilldown>
	{% endif %}
    
{% endif %}
    {% for item in menu %}
        <li>
            {% if item.url is defined %}
                <a href="{{ base_url(item.url) }}" alt="{{ item.nome }}" class="{{ item.url == _url_pagina?'is-active':'' }}">
            {% endif %}
                <i class="fa {{ item.icone is defined ? item.icone ~ ' fa-lg fa-fw': 'fa fa-circle fa-sm fa-fw' }}"></i> <span>{{ item.titulo }}</span>
            {% if item.url is defined %}
                </a>
            {% endif %}
            {% if item.submenu is defined %}
                {% include 'sistema/menu_canvas_esquerdo.twig' with {'submenu': item.submenu} %}
            {% endif %}
        </li>
    {% endfor %}
</ul>