{% macro create(f,type) %}
    {% import _self as mf %}
    {% if f.attr.equalizer is empty %}
        {{ f.setAttr('equalizer',1) }}
    {% endif %}

    {% if f.name in ['field_text','field',''] %}
        {{ mf.field_text(f) }}
    {% elseif f.name == 'field_date' %}
        {{ mf.field_date(f) }}
    {% elseif f.name == 'field_textarea' %}
        {{ mf.field_textarea(f) }}
    {% elseif f.name == 'field_select_list' %}
        {{ mf.field_select_list(f) }}
    {% elseif f.name == 'field_mult_select_list' %}
        {{ mf.field_mult_select_list(f) }}
    {% elseif f.name == 'field_dataset_add' %}
        {{ mf.field_dataset_add(f) }}
    {% elseif f.name == 'field_checkbox' %}
        {{ mf.field_checkbox(f) }}
    {% elseif f.name == 'field_switch' %}
        {{ mf.field_switch(f) }}
    {% elseif f.name == 'field_hidden' %}
        {{ mf.field_hidden(f) }}
    {% elseif f.name == 'field_section' %}
    	{{ mf.field_section(f) }}
    {% endif %}
{% endmacro %}

{% macro field(f,type) %}
    {% import _self as mf %}
    {% set comp_id = 'comp-'~f.attr.id %}
    {% set form_name = (f.attr['form-name'] is empty?'form':f.attr['form-name']) %}
    {% set error_name = (f.attr['error-name']??f.attr.name) %}
    
    <div id="{{ comp_id }}" class="dmx-input-box {{ f.attr.class }}" ng-class="{'is-invalid':error['{{ error_name }}'] }" {{ f.attr.equalizer?'data-equalizer-watch' }}>
        <label>
            <span>{{ f.attr.title }}</span>
            <input type="{{ type }}" id="{{ f.attr.id }}" ng-model="{{ form_name }}.{{ f.attr.name }}" name="{{ f.attr.name }}" {{ (f.attr.disabled?'disabled') }}>
            <span class="form-error" ng-class="{'is-visible':error['{{ error_name }}'] }"><i class="fa fa-times-circle-o"></i> {{ "{{error['"~ error_name ~"']}}" }}</span>
        </label>
    </div>
{% endmacro %}

{% macro field_text(f) %}
    {% import _self as mf %}
    {{ mf.field(f,'text') }}
{% endmacro %}

{% macro field_date(f) %}
    {% import _self as mf %}
    {{ mf.field(f,'date') }}
{% endmacro %}

{% macro field_textarea(f) %}
    {% set form_name = (f.attr['form-name'] is empty?'field':f.attr['form-name']) %}
    {% set error_name = (f.attr['error-name']??f.attr.name) %}
    
    <div class="dmx-input-box {{ f.attr.class }}" ng-class="{'is-invalid':error['{{ error_name }}'] }">
        <label>
            <span>{{ f.attr.title }}</span><textarea id="{{ f.id }}" ng-model="{{ form_name }}.{{ f.attr.name }}" name="{{ f.attr.name }}" {{ (f.attr.disabled?'disabled') }}></textarea>
            <span class="form-error" ng-class="{'is-visible':error['{{ error_name }}'] }"><i class="fa fa-times-circle-o"></i> {{ "{{error['"~ error_name ~"']}}" }}</span>
        </label>
    </div>
{% endmacro %}

{% macro field_checkbox(f) %}
    {% set form_name = (f.attr['form-name'] is empty?'form':f.attr['form-name']) %}
    {% set error_name = (f.attr['error-name']??f.attr.name) %}

    <div class="dmx-checkbox {{ (f.attr.disabled?'disabled') }} column {{ f.attr.class }}" ng-class="{'is-invalid':error['{{ error_name }}'] }" >
        <label class="flex-box">
            <div class="dmx-info">
                <span>{{ f.attr.title }}</span>
                <span>{{ f.attr.description }}</span>
                <span class="form-error" ng-class="{'is-visible':error['{{ error_name }}'] }"><i class="fa fa-times-circle-o"></i> {{ "{{error['"~ error_name ~"']}}" }}</span>
            </div>
            <input type="checkbox" id="{{ f.id }}" ng-model="{{ form_name }}.{{ f.attr.name }}" name="{{ f.attr.name }}" {{ (f.attr.disabled?'disabled') }}>
        </label>
    </div>
{% endmacro %}

{% macro field_switch(f) %}
    {% set form_name = (f.attr['form-name'] is empty?'form':f.attr['form-name']) %}
    {% set error_name = (f.attr['error-name']??f.attr.name) %}
    
    <div class="dmx-checkbox {{ f.attr.class }}" ng-class="{'is-invalid':error['{{ error_name }}'] }" >
        <label class="flex-box">
            <div class="dmx-info">
                <span>{{ f.attr.title }}</span>
                <span>{{ f.attr.description }}</span>
                <span class="form-error" ng-class="{'is-visible':error['{{ error_name }}'] }"><i class="fa fa-times-circle-o"></i> {{ "{{error['"~ error_name ~"']}}" }}</span>
            </div>
            <div class="switch">
                <input class="switch-input" id="{{ f.id }}" type="checkbox" name="{{ f.attr.name }}" ng-model="{{ form_name }}.{{ f.attr.name }}">
                <label class="switch-paddle" for="{{ f.id }}">
                    <span class="show-for-sr">{{ f.title }}</span>
                </label>
            </div>
        </label>
    </div>
{% endmacro %}

{% macro field_select_list(f) %}
    {% import _self as mf %}
    {% import "sistema/theme/default/macro/modal.twig" as modal %}
    {% set form_name = (f.attr['form-name'] is empty?'form':f.attr['form-name']) %}
    {% set error_name = (f.attr['error-name']??f.attr.name) %}
    
    <div class="dmx-input-box dmx-select-input {{ f.attr.class }}" ng-class="{'is-invalid':error['{{ error_name }}'] }" {{ f.attr.equalizer?'data-equalizer-watch' }}>
        <label class="flex-box" data-modal-open="modal-{{ f.attr.id }}">
            <div class="dmx-input">
                <span>{{ f.attr.title }}</span>
                <input type="text" id="fake-{{ f.attr.id }}" ng-model="list.{{ f.attr.list??f.attr.name }}[{{ form_name }}.{{ f.attr.name }}]" >
            </div>
            <div class="dmx-button-open">
                <i class="fa fa-chevron-right"></i>
            </div>
        </label>
        {% set modal_content %}
            <ul class="no-bullet dmx-select-list">
                <li ng-repeat="(x,y) in list.{{ f.attr.list??f.attr.name }}">
                    <label><input type="radio" ng-model="{{ form_name }}.{{ f.attr.name }}" name="{{ f.attr.name }}" ng-value="x" onclick="$('[data-modal]#modal-{{ f.attr.id }}').hide();">{{ '{{y}}' }}</label>
                </li>
            </ul>
        {% endset %}
        {{ modal.create(f.vc.newComponent('modal',{id:'modal-'~f.attr.id,title:'Selecionar '~f.attr.title,'button-back':{title:'Fechar Seleção'}},[],f.attr.id),modal_content) }}      
    </div>
{% endmacro %}

{% macro field_mult_select_list(f) %}
    {% import "sistema/theme/default/macro/modal.twig" as modal %}
    {% set form_name = (f.attr['form-name'] is empty?'form':f.attr['form-name']) %}
    {% set modal_id = 'modal-'~f.attr.id %}
    {% set error_name = (f.attr['error-name']??f.attr.name) %}
    
    <div class="dmx-input-box dmx-select-input {{ f.attr.class }}" ng-class="{'is-invalid':error['{{ error_name }}'] }" >
        <label class="flex-box" data-modal-open="{{ modal_id }}">
            <div class="dmx-input">
                <span>{{ f.attr.title }}</span>
                <div class="dmx-input-mult-select"><span class="label primary" ng-repeat="(k,v) in {{ form_name }}.{{ f.attr.name }}">{{ "{{list['"~(f.attr.list??f.attr.name)~"'][v]}}" }}</span></div>
            </div>
            <div class="dmx-button-open">
                <i class="fa fa-chevron-right"></i>
            </div>
        </label>
        {% set modal_content %}
            <ul class="no-bullet dmx-select-list">
                <li ng-repeat="(x,y) in list.{{ f.attr.list??f.attr.name }}  track by $index">
                    <label><input type="checkbox" ng-model="modal.{{ f.attr.name }}[$index]" name="{{ f.attr.name }}" ng-true-value="'{{ '{{x}}' }}'">{{ '{{y}}' }}</label>
                </li>
            </ul>
        {% endset %}
        {{ modal.create({id:modal_id,title:'Selecionar '~f.attr.title,'button-back':{title:'Fechar Seleção'},content:modal_content,'top-bar-buttons':[{title:'Confirmar',ng:{'click':"modalMultSelectConfirm('"~f.attr.name~"');"},'data-attr':{'modal-close':modal_id} }]}) }}            
    </div>
{% endmacro %}

{% macro field_dataset_add(f) %}
    {% import "sistema/theme/default/macro/button.twig" as button %}
    {% import "sistema/theme/default/macro/modal.twig" as modal %}
    {% import "sistema/theme/default/macro/component.twig" as component %}
    {% import _self as mf %}
    {% set modal_id = 'modal-'~f.attr.id %}
    {% set form_name = (f.attr['form-name'] is empty?'form':f.attr['form-name']) %}
    {% set error_name = (f.attr['error-name']??f.attr.name) %}
    
    <ul class="dmx-add-box column {{ f.class }}">
        <li class="dmx-add-button-box">
            {{ button.create(f.vc.newComponent('button_link_reverse',{title:'Adicionar '~f.attr.title,icon:'plus','data-attr':{'modal-open':modal_id} },[],f.attr.id)) }}
        </li>
        <li ng-show="error['{{error_name}}']">
            <span class="form-error" ng-class="{'is-visible':error['{{ error_name }}'] }"><i class="fa fa-times-circle-o"></i> {{ "{{error['"~ error_name ~"']}}" }}</span>
        </li>
        <li class="dmx-item-box flex-box" ng-repeat="(k,v) in {{ form_name }}.{{ f.attr.name }} track by $index">
            <div class="dmx-item-box-label" ng-click="modalEdit('{{ f.attr.name }}',$index)" onclick="$('[data-modal]#{{ modal_id }}').show();">
                <span>
                    {%- for k,label in f.attr.labels -%}
                        {{- '{{printFieldLabel("'~label.prefix~'",v.'~label.field~',"'~label.suffix~'","'~label.list~'")}}' -}}
                    {%- endfor -%}
                </span>
            </div>
            <ul class="menu">
                <li>{{ button.create(f.vc.newComponent('button_link_reverse',{'title':'Editar','icon':'pencil','ng':{'click':"modalEdit('"~f.attr.name~"',$index)"},onclick:"$('[data-modal]#"~ modal_id~"').show();" },[],f.attr.id)) }}</li>
                <li>{{ button.create(f.vc.newComponent('button_link_reverse',{'title':'Excluir','icon':'trash','class':'alert','ng':{'click':"modalRemove('"~f.attr.name~"',$index)"} },[],f.attr.id)) }}</li>
            </ul>
        </li>
        {% set omodal = f.vc.newComponent('modal',{id:modal_id,title:'Adicionar '~f.attr.title,'button-back':{title:'Fechar Formulário',ng:{click:"modalReset('"~f.attr.name~"')"} } },[f.vc.newComponent('top_bar_buttons',[],[f.vc.newComponent('button',{title:'Confirmar',ng:{'click':"modalAdd('"~f.attr.name~"');modalReset('"~f.attr.name~"')"},'data-attr':{'modal-close':modal_id} },[],f.attr.id)],f.attr.id)],f.attr.id) %}

        {% set modal_content %}
            {% for k,field in f.childs %}
                {{ field.setAttr('form-name','modal.'~f.attr.name) }}
                {{ field.setAttr('equalizer', 0) }}
                {{ field.setAttr('error-name', error_name~"['+modal['"~f.attr.name~"Id']+']["~ (field.attr['error-name']??field.attr.name) ~"]") }}
                {{ component.create(field) }}
            {% endfor %}
        {% endset %}
        {{ modal.create(omodal,modal_content) }}
    </ul>
{% endmacro %}

{% macro field_hidden(f) %}
    <input type="hidden" ng-model="{{ (f.attr['form-name'] is empty?'form':f.attr['form-name']) }}.{{ f.attr.name }}" name="{{ f.attr.name }}" id="{{ f.attr.id }}">
{% endmacro %}

{% macro field_section(f) %}
    <div class="dmx-section column {{ f.attr.class }}">
        {{f.attr.title}}
    </div>
{% endmacro %}

{% macro get_size(size) %}
    {%- if size is not empty -%}
        {%- if size.small is not empty -%}
            small-{{ size.small~' ' }}
        {%- endif -%}
        {%- if size.medium is not empty -%}
            medium-{{ size.medium~' ' }}
        {%- endif -%}
        {%- if size.large is not empty -%}
            large-{{ size.large~' ' }}
        {%- endif -%}
    {%- endif -%}
{% endmacro %}