{% extends 'sistema/theme/default/layout_sistema.twig' %}
{% block styles %}
{% endblock %}
{% block conteudo %}
<div class="row expanded" data-equalizer data-equalize-on="medium" id="test-eq">
    <div class="medium-4 columns">
        <div class="callout" data-equalizer-watch>
            <a href="{{ base_url('sistema/pessoa/fisica/cadastro') }}">
                <h4>Cadastro de Pessoa Física</h4>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <p>BASEPATH: {{ basepath }}</p>
    <p>SELF: {{ self }}</p>
    <p>FCPATH: {{ fcpath }}</p>
    <p>SYSDIR: {{ sysdir }}</p>
    <p>APPPATH: {{ apppath }}</p>
    <p>VIEWPATH: {{ viewpath }}</p>
</div>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function(){
            desativaLoadingContent();
        });
    </script>
{% endblock %}