<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta charset="utf-8" />
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ base_url('assets/framework/css/foundation.min.css') }}" />
        <link rel="stylesheet" href="{{ base_url('assets/framework/foundation-icons.css') }}" />
        <script src="{{ base_url('assets/framework/js/vendor/jquery.js') }}"></script>
        {% block head %}{% endblock %}
        <title>{% block titulo_pagina %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
        
        {% if ENVIRONMENT != 'production' %}
            {#{ this.load.view('sistema/debug_info_sistema') }#}
        {% endif %}
    </body>
    <script src="{{ base_url('assets/framework/js/vendor/what-input.js') }}"></script>
    <script src="{{ base_url('assets/framework/js/vendor/foundation.min.js') }}"></script>
    <script>$(document).foundation();</script>
    {% block scripts_base %}{% endblock %}
</html>
