{% extends 'sistema/theme/default/esqueleto_html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ base_url('assets/font/sofiapro_light/stylesheet.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/font/font-awesome/css/font-awesome.min.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/plugin/sweetalert/sweetalert.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/plugin/sweetalert/themes/google/google.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/css/sistema2.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/css/sistema/Tema_cores_primario.css') }}" type="text/css" charset="utf-8" />
    {% block styles %}{% endblock %}
{% endblock %}
{% block titulo_pagina %}
    D'Moura | {{ titulo }}
{% endblock %}
{% block body %}
    <div class="layout-pagina altura-maxima">
        <div class="off-canvas-wrapper altura-maxima">
            <div class="off-canvas-wrapper-inner altura-maxima" data-off-canvas-wrapper>
                <div class="off-canvas position-left reveal-for-large altura-maxima" id="offCanvasLeft" data-off-canvas data-transition="overlap" >
                    <button class="close-button" aria-label="Fechar menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="canvas-logo">
                        <div class="canvas-logo-title"><a href="{{ base_url('sistema/dashboard') }}">D'Moura</a></div>
                        {#<img src="{{ base_url('assets/imagens/DMOURA.png') }}">#}
                    </div>
                    <div class="canvas-user" data-toggle="dm-usuario-menu">
                        <div class="canvas-user-foto">
                            <img src="{{ base_url('assets/imagens/user.png') }}" />
                        </div>
                        <div class="canvas-user-dados">
                            <div class="canvas-user-title">
                                {{ app.session.nome }}
                            </div>
                            <div class="canvas-user-subtitle fonte-cinza-claro">
                                Cargo {{ app.session.cargo }}
                            </div>
                        </div>
                        <div class="canvas-user-menu menu-centered">
                            <ul class="menu">
                                <li><a href="{{ base_url('sistema/autenticacao/sair') }}"><i class="fa fa-sign-out fa-fw"></i><span>Sair</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="off-canvas-menu">
                        {% include 'sistema/theme/default/menu_canvas_esquerdo.twig' with {'type':'accordion'} %}
                    </div>
                </div>
            
                <div class="off-canvas-content" data-off-canvas-content>
                    <div class="screen-fixed-content-top">
                        <div class="top-bar">
                            <div class="top-bar-title hide-for-large title-expanse">
                                <div class="title-bar-left">
                                    <button type="button" class="fa fa-navicon" data-toggle="offCanvasLeft"></button>
                                    {{ titulo }}
                                </div>
                                <div class="title-bar-right">
                                    <span data-responsive-toggle="responsive-menu" data-hide-for="large">
                                        <button class="fa fa-ellipsis-v " type="button" data-toggle></button>
                                    </span>
                                </div>
                            </div>
                            <div id="responsive-menu">
                                <div class="top-bar-left">
                                    <ul class="menu">{% block botoes %}{% endblock %}</div></ul>
                                <div class="top-bar-right">
                                    <ul class="menu">
                                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="divisao-bar-content hide-for-small-only hide-for-medium-only"></div>
                    </div>
                    <div class="content-block">
                        {# <div class="top-fade"></div> #}
                        <h3 class="title-page show-for-large">{{ titulo }}</h3>
                        {% block conteudo %}{% endblock %}
                    </div>
                    <div class="screen-fixed-content-bottom">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_base %}
    <script src="{{ base_url('assets/js/sistema.js') }}"></script>
    <script src="{{ base_url('assets/plugin/sweetalert/sweetalert.min.js') }}"></script>
    {#<script src="{{ base_url('assets/js/formulario.js') }}"></script>#}
    <script src="{{ base_url('assets/js/dmx.js') }}"></script>
    {% block scripts %}{% endblock %}
{% endblock %}