{% extends 'sistema/theme/default/esqueleto_html.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ base_url('assets/font/sofiapro_light/stylesheet.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/font/font-awesome/css/font-awesome.min.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/plugin/sweetalert/sweetalert.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/plugin/sweetalert/themes/google/google.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/css/sistema2.css') }}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ base_url('assets/css/sistema/Tema_cores_primario.css') }}" type="text/css" charset="utf-8" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    {% block styles %}{% endblock %}
{% endblock %}
{% block titulo_pagina %}
    D'Moura | {{ titulo }}
{% endblock %}
{% block body %}
    <div class="layout-pagina altura-maxima">
        <div class="off-canvas-wrapper altura-maxima">
            <div class="off-canvas-wrapper-inner altura-maxima" data-off-canvas-wrapper>
                <div class="off-canvas position-left reveal-for-large altura-maxima" id="offCanvasLeft" data-off-canvas data-transition="overlap" >
                    <button class="close-button" aria-label="Fechar menu" type="button" data-close>
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="canvas-logo">
                        <div class="canvas-logo-title hide"><a href="{{ base_url('sistema/dashboard') }}">D'MOURA</a></div>
                        <a href="{{ base_url('sistema/dashboard') }}"><img src="{{ base_url('assets/imagens/Logo_DMOURA_0.25.png') }}"></a>
                    </div>
                    <div class="canvas-user" data-toggle="dm-usuario-menu">
                        <div class="canvas-user-foto">
                            <img src="{{ base_url('assets/imagens/user.png') }}" />
                        </div>
                        <div class="canvas-user-dados">
                            <div class="canvas-user-title">
                                {% if app.session.nome is defined %}
                                    {{ app.session.nome }}
                                {% else %}
                                    {{ app.session.alias }}
                                {% endif %}
                            </div>
                            <div class="canvas-user-subtitle fonte-cinza-claro">
                                {% set _nivel = ['Institucional','Intermediário','Operário'] %}
                                Nível {{ _nivel[app.session.nivel - 1] }}
                            </div>
                        </div>
                        <div class="canvas-user-menu menu-centered">
                            <ul class="menu">
                                <li><a href="{{ base_url('sistema/autenticacao/sair') }}"><i class="fa fa-sign-out fa-fw"></i><span>Sair</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="off-canvas-menu">
                        {{ sv_main_menu|raw }}
                        {#% include 'sistema/theme/default/menu_canvas_esquerdo.twig' with {'menu':sv_main_menu,'type':'accordion'} %#}
                    </div>
                </div>
            
                <div class="off-canvas-content" data-off-canvas-content ng-controller="content_ctrl">
                    <div class="screen-fixed-content-top">
                        {%- set maintopbarid = 'mainTopBar' -%}
                        <div class="top-bar dmx-top-bar" id="{{ maintopbarid }}" data-ng-controller="mainTopBar">
                            <div class="top-bar-left">
                                <ul class="menu">
                                    <li class="hide-for-large">
                                        {{ button.make({'element_type':'button','icon':'navicon','attributes':'data-toggle="offCanvasLeft"'}) }}
                                    </li>
                                    <li class="menu-text dmx-page-title">{{ titulo }}</li>
                                </ul>
                            </div>
                            <div class="top-bar-right">
                                {%- set topbarmenuid = maintopbarid ~ '-menu' -%}
                                <ul class="dropdown menu" data-dropdown-menu id="{{ topbarmenuid }}">
                                    {% block botoes %}{% endblock %}
                                    <li ng-repeat="(x,y) in top_bar_buttons" id="{{ topbarmenuid~'-item-{[{y.id}]}' }}" class="{{ 'y.hide'|NG }} hide-for-small-only">
                                        {{ button.make({'element_type':'button_generic','for_button':'{[{y.for}]}','title':'{[{y.title}]}','icon':'{[{y.icon}]}','id':'{[{y.id}]}','title_class':'hide-for-small-only'}) }}
                                    </li>
                                    <li><a href="#" class="hide"><i class="fa fa-search"></i></a></li>
                                    <li class="has-submenu show-for-small-only">
                                        {{ button.make({'element_type':'button_link','icon':'ellipsis-v'}) }}
                                        {%- set topbarsubmenuid = maintopbarid ~ '-submenu' -%}
                                        <ul class="submenu menu vertical" data-submenu id="{{topbarsubmenuid}}">
                                            <li ng-repeat="(x,y) in buttons()" id="{{ topbarsubmenuid~'-item-{[{y.id}]}' }}">
                                                {{ button.make({'element_type':'button_generic','id':'{[{y.id}]}','for_button':'{[{y.for}]}','icon':'{[{y.icon}]}','title':'{[{y.title}]}'}) }}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="divisao-bar-content"></div>
                    </div>
                    <div class="content-block">
                        {# <div class="top-fade"></div> #}
                        {% if titulo is defined or titulo is not empty %}
                            <h3 class="title-page hide">{{ titulo }}</h3>
                        {% endif %}
                        {% block conteudo %}{% endblock %}
                    </div>
                    <div class="screen-fixed-content-bottom">
                    </div>
                    <div class="loader-container animate-show-hide" data-loading="content" ng-show="showLoadPage()">
                        <div class="row">
                            <div class="loader-circle float-center"><div class="loader-littlecircle"></div></div>
                            <div class="loader">Carregando...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_base %}
    <script src="{{ base_url('assets/js/sistema.js') }}"></script>
    <script>
        app.config(function ($compileProvider,$interpolateProvider,$locationProvider) {
            $compileProvider.debugInfoEnabled({{ ENVIRONMENT == 'production' ? 'false' : 'true' }});
            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
            $locationProvider.html5Mode({enable: true,rewriteLinks: false});
        });
    </script>
    <script src="{{ base_url('assets/plugin/sweetalert/sweetalert.min.js') }}"></script>
    <script src="{{ base_url('assets/js/sistema/theme/default/master_angular.js') }}"></script>
    {% block scripts %}{% endblock %}
{% endblock %}