<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ base_url('assets/framework/css/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ base_url('assets/framework/foundation-icons.css') }}">
        <link rel="stylesheet" href="{{ base_url('assets/font/font-awesome/css/font-awesome.min.css') }}" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="{{ base_url('assets/css/sistema/login.css') }}">
        <script src="{{ base_url('assets/framework/js/vendor/jquery.js') }}"></script>
        <title>{{ titulo }}</title>
    </head>
    <body>
        <div class="row expanded column">
            <div class="logo">
                <img src="{{ base_url('assets/imagens/Logo_DMOURA.png') }}">
            </div>
        </div>
        <div class="row expanded">
          <div class="small-12 small-centered columns login">
            {% if message is defined %}
                <div class="alertas">
                    {% include 'sistema/theme/default/message.twig' with {'message':message} %}
                </div>
            {% endif %}
            <form action="{{ base_url('sistema/autenticacao/entrar') }}" method="POST">
                <div class="row expanded">
                  <div class="large-12 columns">
                      <label class="input-group">
                      <span class="input-group-label"><i class="fa fa-user"></i></span>
                        <input class="input-group-field" type="text" name="usuario" placeholder="Usuário">
                      </label>
                      <hr>
                  </div>
                </div>
                <div class="row expanded">
                  <div class="large-12 columns">
                    <label class="input-group">
                        <span class="input-group-label"><i class="fa fa-lock"></i></span>
                        <input class="input-group-field" type="password" name="senha" placeholder="Senha">
                    </label>
                  </div>
                </div>
                <div class="row expanded">
                  <div class="large-12 columns">
                      <button type="submit" name="entrar" class="button expanded">ENTRAR</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
        <script src="{{ base_url('assets/framework/js/vendor/what-input.js') }}"></script>
        <script src="{{ base_url('assets/framework/js/vendor/foundation.min.js') }}"></script>
        <script>$(document).foundation();</script>
    </body>
</html>