{% extends 'sistema/layout_sistema.twig' %}
{% block styles %}
{% endblock %}
{% block conteudo %}
    <form id="form_pessoa_fisica" action="{{ base_url('sistema/pessoa/fisica/salvar') }}" method="post" data-live-validate="true">
        <div class="row expanded">
            <ul class="tabs" data-tabs id="formulario">
                <li class="tabs-title is-active"><a href="#painel-identificacao" aria-selected="true">Identificação</a></li>
                <li class="tabs-title"><a href="#painel-endereco">Endereço</a></li>
                <li class="tabs-title"><a href="#painel-contato">Contato</a></li>
                <li class="tabs-title"><a href="#painel2"></a></li>
            </ul>
            <div class="tabs-content" data-tabs-content="formulario">
                <div class="tabs-panel is-active" id="painel-identificacao">
                    <div class="row expanded">
                        <div class="small-12 column">
                            <div class="modern-input-group" data-modern-ajax data-input-group="cpf">
                                <span class="input-group-label">CPF</span>
                                <input type="text" name="cpf" pattern="\d{11}" placeholder="CPF" maxlength="11" required autofocus class="input-group-field" tabindex="1" data-input/>
                                <div class="error-msg" data-error>Mensagem</div>
                            </div>
                        </div>
                        <div class="small-12 column">
                            <div class="modern-input-group" data-modern-ajax data-input-group="nome">
                                <span class="input-group-label">Nome</span>
                                <input type="text" name="nome" placeholder="Nome Completo" class="input-group-field" tabindex="2"/>
                                <div class="error-msg" data-error></div>
                            </div>
                        </div>
                    </div>
                    <div class="row expanded" data-modern-ajax data-input-group="nascimento">
                        <div class="small-12 column">
                            Nascimento
                        </div>
                        <div class="small-4 column">
                            <div class="modern-input-group placeholder-visible">
                                <input type="text" name="nascimento[dia]" class="input-group-field text-center" placeholder="Dia" tabindex="3"/>
                            </div>
                        </div>
                        <div class="small-4 column">
                            <div class="modern-input-group placeholder-visible">
                                <input type="text" name="nascimento[mes]" class="input-group-field text-center" placeholder="Mês" tabindex="4"/>
                            </div>
                        </div>
                        <div class="small-4 column">
                            <div class="modern-input-group placeholder-visible">
                                <input type="text" name="nascimento[ano]" class="input-group-field text-center" placeholder="Ano" tabindex="5"/>
                            </div>
                        </div>
                    </div>
                    <div class="row expanded">
                        <div class="small-12 column">
                            <div class="modern-input-group is-invalid" data-modern-ajax data-input-group="nacionalidade">
                                <span class="input-group-label">Nacionalidade</span>
                                <input type="text" name="nacionalidade" class="input-group-field" tabindex="6" data-input/>
                                <div class="error-msg" data-error>Mensagem!</div>
                            </div>
                        </div>
                        <div class="small-12 column">
                            <div class="modern-input-group">
                                <span class="input-group-label">Naturalidade</span>
                                <input type="text" name="naturalidade" class="input-group-field" tabindex="7"/>
                            </div>
                        </div>
                        <div class="small-12 column">
                            <div class="modern-input-group">
                                <span class="input-group-label">Estado Civil</span>
                                <input type="text" name="estado_civil" class="input-group-field" tabindex="8"/>
                            </div>
                        </div>
                    </div>
                    <div class="row expanded">
                        <div class="small-12 column">
                            Sexo
                        </div>
                        <div class="small-12 column modern-radio">
                            <input type="radio" name="sexo" value="Feminono" id="feminino"/>
                            <label for="feminino" tabindex="9">Feminino</label>
                            <input type="radio" name="sexo" value="Masculino" id="masculino"/>
                            <label for="masculino" tabindex="10">Masculino</label>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel" id="painel-endereco">
                    <div class="row expanded">
                        <div class="small-12 column">
                            <div class="modern-input-group">
                                <span class="input-group-label">CEP</span>
                                <input type="text" name="cep" pattern="[0-9]{8}" maxlength="8" class="input-group-field"/>
                            </div>
                        </div>
                        <div class="small-12 column">
                            <div class="modern-input-group modern-selector">
                                <span class="input-group-label">Estado</span>
                                <select class="input-group-field" name="uf">
                                    <option value="">
                                    {% for key, uf in estados %}
                                        <option value="{{ key }}">{{ uf }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="small-12 column">
                            <div class="modern-input-group">
                                <span class="input-group-label">Municipio</span>
                                <input type="text" name="municipio" class="input-group-field"/>
                            </div>
                        </div>
                        <div class="small-12 column">
                            <div class="modern-input-group">
                                <span class="input-group-label">Bairro</span>
                                <input type="text" name="bairro" class="input-group-field">
                            </div>
                        </div>
                        <div class="small-12 column">
                            <div class="modern-input-group">
                                <span class="input-group-label">Logradouro</span>
                                <input type="text" name="logradouro" class="input-group-field"/>
                            </div>
                        </div>
                        <div class="small-12 column">
                            <div class="modern-input-group">
                                <span class="input-group-label">Complemento</span>
                                <input type="text" name="complemento" class="input-group-field"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-panel" id="painel-contato">
                    <div class="row expanded">
                        <div class="small-12 column">
                            <div class="modern-input-group">
                                <span class="input-group-label">Email</span>
                                <input type="text" name="email" class="input-group-field"/>
                            </div>
                        </div>
                        <div class="small-12 column modern-checkbox">
                            <input type="checkbox" name="enviar_email" id="enviar_email"/>
                            <label for="enviar_email">Enviar email com senha de acesso.</label>
                        </div>
                    </div>
                    <div class="row expanded">
                        <div class="small-12 column">
                            <ul class="modern-form-list-add">
                                <li class="modern-list-title">
                                    Nº de Telefone
                                    <button type="button" class="modern-form-list-button animate-button"><i class="fa fa-plus success-text"></i></button>
                                </li>
                                <li class="modern-list-group">
                                    <div class="modern-form-row">
                                        <div class="small-5 column">
                                            <div class="modern-input-group">
                                                <input type="text" name="telefone" class="input-group-field"/>
                                            </div>
                                        </div>
                                        <div class="small-3 column">
                                            <div class="modern-input-group modern-selector text-center">
                                                <select name="tipo_telefone" class="input-group-field ">
                                                    {% for key, tp in tipos_telefone %}
                                                        <option value="{{ key }}">{{ tp }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="small-4 column">
                                            <div class="modern-input-group modern-selector">
                                                <select name="operadora_telefone" class="input-group-field text-center">
                                                    {% for key, tp in operadoras_telefone %}
                                                        <option value="{{ key }}">{{ tp }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" class="modern-form-list-button animate-button"><i class="fa fa-minus alert-text"></i></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="{{ base_url('assets/js/viacep.js') }}"></script>
    <script src="{{ base_url('assets/js/ajax_modern_form_send.js') }}"></script>
{% endblock %}