<label class="button">
    <i class="fa fa-
        {%- if button.icon is defined and button.icon != "" %}
            {{- button.icon }}
        {% else %}
            {%- if button.type == "submeter" -%}
                save
            {%- elseif button.type == "submeterfechar" -%}
                check
            {%- elseif button.type in ["submeternovo","novo"] -%}
                plus
            {% endif %}
        {% endif %}
    "></i>
    {% if button.title is defined %}
        {{ button.title }}
    {% endif %}
    <input type="button" 
       name="{{ button.name }}" 
       {# pattern="" #} 
       {% if button.id is defined and button.id != "" %}
            id="{{ button.id }}" 
       {% endif %}
       
       {% if button.title is defined %}
            value="{{ button.title }}" 
       {% endif %}
       
       {% if button.autofocus is defined and button.autofocus%}
            autofocus 
       {% endif %}
       class="hide
       {% if button.class is defined and button.class != "" %}
            {{ button.class }} 
       {% endif %}
       "
       {% if button.atributes is defined %}
            {{ button.atributes }} 
       {% endif %}
       
       onclick="dmx.buttonAction('{{ sv_form.id }}','{{ button.id }}');"
       />
</label>