{% macro create(b) %}
    {% import _self as mb %}
    {% if b.name == 'button_link' %}
        {{ mb.link_button(b) }}
    {% elseif b.name == 'button_link_reverse' %}
        {{ mb.link_button_reverse(b) }}
    {% elseif b.name == 'button_generic' %}
        {{ mb.generic_button(b) }}
    {% elseif b.name starts with 'button' %}
        {{ mb.default_button(b) }}
    {% endif %}
{% endmacro %}

{% macro attr(b) %}
    {% if b.ng is defined and b.ng is not empty %}
        {% for k,v in b.ng %}
            ng-{{ k }}="{{ v }}"
        {% endfor %}
    {% endif %}

    {% for k,v in b['data-attr'] %}
        data-{{ k }}="{{ v }}"
    {% endfor %}

    {% for k,v in b %}
        {% if k in ['aria-label','data-close','data-open','onclick','id'] %}
            {{ k }}="{{ v }}"
        {% elseif k == 'hide' %}
            style="display:none !important;"
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro button_icon(icon) %}
    {%- if icon is not empty -%}
        <i class="dmx-button-icon fa fa-{{ icon }} fa-lg fa-fw"></i>
    {%- endif -%}
{% endmacro %}

{% macro button_title(b,enclosed) %}
    {%- if (enclosed or b['title-class'] is not empty) and b.title is not empty -%}
        <span class="dmx-button-text {{ b['title-class'] }}">{{ b.title }}</span>
    {%- else -%}
        {{- b.title -}}
    {%- endif -%}
{% endmacro %}

{% macro link_button_reverse(b) %}
    {% import _self as mb %}
    {{ b.setAttr('class', b.attr.class ~ ' dmx-reverse') }}
    {{ mb.link_button(b) }}
{% endmacro %}

{% macro link_button(b) %}
    {% import _self as mb %}
    <a class="dmx-button {{ b.attr.class }}" {{ mb.attr(b.attr) }}>
            {{- mb.button_icon(b.attr.icon) -}}
            {{- mb.button_title(b.attr,b.attr.icon is not empty) -}}
    </a>
{% endmacro %}

{% macro generic_button(b) %}
    {% import _self as mb %}
    <label for="{{ b.attr.for }}" class="dmx-button {{ b.attr.class }}" {{ mb.attr(b.attr) }}>
            {{- mb.button_icon(b.attr.icon) -}}
            {{- mb.button_title(b.attr,b.attr.icon is not empty) -}}
    </label>
{% endmacro %}

{% macro default_button(b) %}
    {% import _self as mb %}
    <button type="button" class="dmx-button {{ b.attr.class }}" {{ mb.attr(b.attr) }}>
        {{- mb.button_icon(b.attr.icon) -}}
        {{- mb.button_title(b.attr,b.attr.icon is not empty) -}}
    </button>
{% endmacro %}